<!-- questo file contiene il check per gli errori SIA dei campi 'normali' (in pratica la cosa di devise/shared/_error_messages.html.erb),
SIA dei campi aggiuntivi -->

<% if resource.errors.any? || @user.errors.any? || (@chef && @chef.errors.any?) || (@client && @client.errors.any?) %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count + @user.errors.count + (@chef&.errors&.count || 0) + (@client&.errors&.count || 0),
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% grouped_errors = {} %>

      <% [resource, @user, @chef, @client].compact.each do |record| %>
        <% record.errors.each do |error| %>
          <% attribute = error.attribute.to_s.split('.').last.humanize.capitalize %>
          <% message = error.message %>
          <% grouped_errors[attribute] ||= [] %>
          <% grouped_errors[attribute] << message %>
        <% end %>
      <% end %>

      <% grouped_errors.each do |attribute, messages| %>
        <li><%= attribute %>: <%= messages.uniq.join(', ') %></li>
      <% end %>
    </ul>
  </div>
<% end %>