<% if @user.errors.any? || (@chef && @chef.errors.any?) || (@client && @client.errors.any?) %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count + (@chef&.errors&.count || 0) + (@client&.errors&.count || 0), "error") %> proibisce di salvare questo profilo:
    </h2>
    <ul>
      <% grouped_errors = {} %>

      <% [@user, @chef, @client].compact.each do |record| %>
        <% record.errors.each do |error| %>
          <% attribute = error.attribute.to_s.split('.').last.humanize.capitalize %>
          <% message = error.message %>
          <% grouped_errors[attribute] ||= [] %>
          <% grouped_errors[attribute] << message %>
        <% end %>
      <% end %>

      <% grouped_errors.each do |attribute, messages| %>
        <li><%= attribute %>: <%= messages.uniq.join(', ') %></li>
      <% end %>
    </ul>
  </div>
<% end %>
