<!-- handling degli errori SOLAMENTE per i campi aggiuntivi (quelli legati al completamento del profilo) -->

<% if @user.errors.any? || (@chef && @chef.errors.any?) || (@client && @client.errors.any?) %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count + (@chef&.errors&.count || 0) + (@client&.errors&.count || 0), "error") %> proibisce di salvare questo profilo:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <% if @chef %>
        <% @chef.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <% if @client %>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>