<div class="flex mb-4 cont-<%=message.user.id%> message-container">
  <div class="border max-w-70 px-3 py-2 rounded-lg break-words bg-muted text-base msg-<%=message.user.id%>">
    <%= simple_format(message.body, class: "text-base") %>
  </div>
</div>
