<div class="flex flex-start mb-4 cont-<%=message.user.id%> message-container">
  <div class="bg-white border max-w-80 px-5 rounded-xl break-words msg-<%= message.user.id %>">
    <p class="text-gray-800"><%= simple_format(message.body) %></p>
  </div>
</div>