
<% if @users.empty? %>
  <p>Non ci sono utenti</p>
<% else %>
  <h2 class="page-title">Utenti</h2>

  <div data-controller="tabs" data-tabs-active-tab-class="-mb-px" class="tabs">
    <div class="tabs-tabs">
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="Chef" >
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent"
        >Chef</a>
      </div>
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="clienti">
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent"
        >Clienti</a>
      </div>
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="all">
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent">Tutti</a>
      </div>
      <div>
        <input data-action="click->tabs#change" data-id="all" type="text" id="userSearch" placeholder="Cerca utenti..." class="input">
      </div>
    
    </div>


    <div class="hidden" data-tabs-target="panel" data-id="chef">
      <% if @chefs.any? %>
          <div class="grid grid-cols-3 gap-4">
            <% @chefs.each do |user| %>
              <%= render partial: "profile_card", locals: { user: user } %>
            <% end %>
        </div>
      <% end %>

    </div>
    <div class="hidden" data-tabs-target="panel" data-id="client">
    
      <% if @clients.any? %>
          <div class="grid grid-cols-3 gap-4">
          <% @clients.each do |user| %>
            <%= render partial: "profile_card", locals: { user: user } %>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="hidden" data-tabs-target="panel" data-id="all">
      <% if @users.any? %>
        <div class="grid grid-cols-3 gap-4" id="user_profiles">
          <% @users.each do |user| %>
            <%= render partial: "profile_card", locals: { user: user } %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>

<script>

  document.getElementById('userSearch').addEventListener('input', function() {
    var searchValue = this.value.toLowerCase();
    var userProfiles = document.getElementById('user_profiles').children;

    for (var i = 0; i < userProfiles.length; i++) {
      var userProfile = userProfiles[i];
      var userName = userProfile.textContent.toLowerCase();

      if (userName.includes(searchValue)) {
        userProfile.classList.remove('hidden');
      } else {
        userProfile.classList.add('hidden');
      }
    }
  });
</script>