<div class="flex justify-center items-center my-[2.5%]">
  <div class="w-[40vw]">
    <div class="card card-content" >
      <h2 class="card-title">Modifica Menu</h2>

<%= render partial: "form", locals: { menu: @menu, button_name: "Modifica menu"} %>

<%= button_to menu_path(@menu), method: :delete, class: "btn btn-destructive w-full mt-4" do %>
  <p>Cancella il menu</p>
<% end %>
</div>
</div>
</div>