<h1> Modifica il menu </h1>

<%= render partial: "form", locals: {post: @menu}%>

<%= button_to "Cancella il menu", menu_path(@menu), method: :delete, data: {turbo_confirm: "Sei sicuro di eliminare il menu?"}%>
