<div class="flex justify-center items-center my-[2.5%]">
  <div class="w-[40vw]">
    <div class="card card-content" >
      <h2 class="card-title">Crea un nuovo menu</h2>
<%= render partial: "form", locals: {menu: @menu} %>
</div>
</div>
</div>