<h2 class="page-title">I tuoi preferiti </h2>

<% if @favorites.any? %>
  <div id="menu-favorites-list" class="grid grid-cols-4 gap-8 ">
    <% @favorites.each do |fav| %>
        <%= render partial: "menus/menu_card", locals: {menu: fav.menu} %>

    <% end %>
  </div>
<% else %>
  <p>Non hai ancora aggiunto menu ai preferiti.</p>
<% end %>
