<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase,
                 default: "Could not save the %{resource} (#{resource.errors.count} errors).")
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= I18n.t(message, default: message) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
