<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">

    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= I18n.t(message, default: message) %></li>
      <% end %>
    </ul>
  </div>
<% end %>
