<h2>Completa il tuo profilo</h2>

<%= form_for @user, url: complete_registration_path, method: :post do |f| %>
  <%= render partial: "shared_partials/profile_errors" %>
  <%= render "shared_partials/profile", f: f %>

  <div class="actions">
    <%= f.submit "Completa il profilo" %>
  </div>
<% end %>