<div class="border rounded flex flex-col gap-0 p-5" >
    <p> <%= reservation.num_persone %> persone, <%= reservation.tipo_pasto.humanize %> il <%= reservation.data_prenotazione %> </p>
    <p> <%= link_to "Vai alla prenotazione", reservation_path(reservation.id) %> </p>
</div>