<!-- Mostro le prenotazioni con link alla prenotazione -->
<% if @reservations.empty? %>
  <p>Non hai prenotazioni</p>
<% else %>
  <h2>Le tue prenotazioni</h2>
  <% @reservations.each do |reservation| %>
    <%= render partial: 'reservation_card', locals: { reservation: reservation, link_text: "Vai alla prenotazione" } %>
  <% end %>
<% end %>