<div id="chatroom_container" class="flex flex-col md:flex-row bg-gray-800 text-white">
  <div id="side_panel" class="w-full md:w-1/3 p-4">
    <h5> <%= current_user.email %> </h5>
    <h4> Users </h4>
    <%= turbo_stream_from "users" %>
    <div id="users">
      <%= render @users %>
    </div>
</div>