<div id="room_container" class="w-full h-[700px] p-5 flex flex-col items-center">
  <% if @single_room %>
    <div id="single_room" class="w-full max-w-xl flex flex-col h-full">
      <h4 class="text-center text-3xl font-bold m-0" style="margin-top: 10px; margin-bottom: 10px;"> <%= @user&.nome || @single_room.name %> </h4>
      <%= turbo_stream_from @single_room %>
      <div id="messages" class="flex-grow overflow-y-auto overflow-x-hidden p-4 rounded-lg" data-controller="scroll">
        <%= render @messages %>
      </div>
      <div class="mt-4 w-full">
        <%= render 'layouts/new_message' %>
      </div>
    </div>
  <% end %>
</div>

<script>
  // debugging TODO: rimuovere
  document.addEventListener("turbo:before-stream-render", function(event) {
    console.log("Turbo Stream received:", event.target);
  });

  document.addEventListener("turbo:submit-end", function(event) {
    console.log("Form submitted:", event.target);
  });

  document.addEventListener("turbo:load", function(event) {
    console.log("Turbo loaded:", event.target);
  });
</script>

