<div class="form-group msg-form w-full">
  <%= form_with(model: [@single_room, @message], remote: true, class: 'flex flex-col w-full') do |f| %>
    <%= f.text_area :body, id: 'chat-text', class: 'form-control msg-content flex-grow p-2 border rounded mr-2 text-black text-lg resize-none w-full', rows: 1, autocomplete: 'off' %>
    <%= f.submit "Invia messaggio", data: {disable_with: false}, class: 'btn btn-primary bg-blue-500 text-white text-xl px-5 py-2 rounded mt-2 mx-auto mt-4' %>
  <% end %>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    const chatText = document.getElementById("chat-text");
    chatText.addEventListener("input", function() {
      chatText.style.height = "auto";
      chatText.style.height = (chatText.scrollHeight) + "px";
    });
  });
</script>