<div class="form-group msg-form w-full">
  <%= form_with(model: [@single_room, @message], remote: true, class: 'flex flex-col w-full',
  data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |f| %>
    <div class="flex gap-2 items-start justify-between">
    <%= f.text_area :body, id: 'chat-text', class: 'input max-h-24', rows: 1, autocomplete: 'off' %>
    <%= f.button type: "submit", class: 'btn btn-default h-full', data: {disable_with: false} do %>
      <%= inline_svg_tag "icons/send.svg", class: "w-6 h-6 icon-default" %>
    <% end %>
    </div>
  <% end %>
</div>

<script>
  document.addEventListener("turbo:load", function() {
    const chatText = document.getElementById("chat-text");
    const form = chatText.closest('form');

    chatText.addEventListener("input", function() {
      chatText.style.height = "auto";
      chatText.style.height = (chatText.scrollHeight) + "px";
    });

    chatText.addEventListener("keydown", function(event) {
      if (event.key === "Enter" && !event.shiftKey) {
        event.preventDefault();
        form.requestSubmit();
      }
    });
  });
</script>